
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shippori Antique', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}
button, a{
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}
a {
    color: white;
}

/* HOME PAGE */

.homePage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-shrink: inherit;
    /* padding-left: 5%; */
    background-image: url('./waterbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(236, 218, 55, 0.932);
    
}
#playerNameLogin{
    font-size: 2.5rem;
    color: #77a9f5;
}
#playerLogin{
    text-align: center;
}
#playerNameSubmitBtn{
    background:  transparent;
    border: 1px solid white;
    color: white;
    /* border-style: none; */
}
#instructions {
    border-style: none;
    border-bottom: solid;
    font-family: 'Rubik Mono One', sans-serif;
    background: transparent;
    background-size: 100%;
    color:rgb(248, 229, 55);
}
.instructions{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(103,189,254);
    color: rgb(32,82,100);
    font-family: 'Shippori Antique', sans-serif;
    text-align: center;
    margin: 5%;
    padding: 2%;
    display: none;
    
}
.instructions span{
    font-family: 'Rubik Mono One', sans-serif;
}
.instructions button {
    background: transparent;
    border: none;
}
.instructions img{
    height: 30vw;
    width: 30vw;
    background: transparent;
    /* background-color: rgb(103,189,254); */
    
}

#startGame{
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 12%;
    background: transparent;
    border-style: none;
    font-size: 1.75rem;
    color: #ff9100;
}
.radioButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radioButtons [type='radio']{
    cursor: pointer;
    width: 1em;
    height: 1em;
    accent-color:#387adf;

}
#scoreTitle{
    font-family: 'Rubik Mono One', sans-serif;
    background: none;
    border: none;
    color: white;
}
.exitBtn a{
    bottom: 0;
    color: rgb(248, 229, 55);
}


/* GAMEPLAY */
/* took out trash display none to style the images then re hide then redisplay one at a time */

.gameScreen{
    background-color: rgb(103,189,254);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playerDiv{
    text-align: center;
    /* font-size: 10%; */
    height: 15%;
    width: 100%;
}
.playerDiv .points {
    font-size: .80rem;
}
#monsterImg{
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.garbage img{
    height: 100px;
}
.bottomOfGame{
    display: flex;
    flex-direction:column;
    height: 100%;
    position: relative;
}
.letters{
    height: inherit;
    flex-wrap: wrap;
}
.resets {
    /* display: flex; */
    /* flex-direction: row-reverse; */
    align-items: center;
    margin-bottom: 10px;
}
.resets button{
    justify-content: space-between;
}

#showHint{
    display: none;
    font-family: 'Shippori Antique', sans-serif;
}
.hint{
    display: none;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 10px;
}
.playerDiv span{
    color: rgba(236, 218, 55, 0.932);
    font-size: larger;
}

/* CONDITIONALS */
.sendPlayerData{
    color: white;
   height: 50px;
   left: 0%;
   z-index: 5;
}
.conditionalsScreens{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    top: 0;
    height: 100%;
    width: 100%; 
    left:0;
    color: white; 
}
.conditionalsScreens span {
    color: #ffffff;
}

#lostGame, #zeroLifeGameOver, #wonTheGame, #savedTheIsland{
    display: none;
}
#lostGame{
    /* display: none; */
    margin: 0 auto;
    height: 100%;
    color: white;
    text-shadow: black;
    background-image: url('./dirtybeach.png');
    background-image: cover;
}
#lostGame span{
    color: yellow;
}
#zeroLifeGameOver{
    /* display: none; */
    height: 100%;
    top: 0;
    left: 0;
    color: black;
    background-image: url('./youLOSTPage.png');
}
#zeroLifeGameOver .inside{
    background-color: rgba(255, 255, 255, 0.904);
    margin: 5%;
}
#zeroLifeGameOver a {
    color: black;
}

#wonTheGame{
    /* display: none; */
    background-image: url('./beach-waves-clean.jpg');
    color: yellow
}
#wonTheGame h1 {
    color: white;
}
#savedTheIsland{
    /* display: none; */
    background-image: url('./cleanbeach.jpg');
    color:white;
}
#savedTheIsland h4{
    color: yellow;
}

.hide{
    display: none;
}







