/* Title page styling  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    color: white;
    /* bring the font to the front of the screen otherwise it is hidden behind the spans circles */
    z-index: 1;
    font-size: 2em;
    /* margin: 0 auto; */
}
.content a{
    margin: 10%;
    font-size: 1rem;
    border-style: none;
    align-items: center;
    color: rgba(236, 218, 55, 0.932);
    border: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 25%;
    /*make the buttons pop with clear background and white border and font */
    background-color: rgba(4, 26, 66, 0);
}
.container {
    position: relative;
    width: 100%;
    height: 100vh; 
    /* make sure to put the overflow to hidden as the animation of the waves would make the page wider than our browser window. */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(4,26,66,.9); */
}
.container .wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20,71,133);
}
.container .wave span {
    position: absolute;
    width: 320vh;
    height: 320vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75% );   
}
/* Create the waves on the title screen that will appear to flow around and arround. Create the spans to be almost circles with border radius and give different timespans to complete the move so its like many solid waves  */
.container .wave span:nth-child(1) {
    animation: waves 8s linear infinite;
    border-radius: 40%;
    background-color: rgb(3,60,164)
}
.container .wave span:nth-child(2) {
    animation: waves 10s linear infinite;
    border-radius: 45%;
    background-color: rgb(3,107,158);
}
.container .wave span:nth-child(3) {
    animation: waves 15s linear infinite;
    border-radius: 38%;
    background-color: rgba(13,71,84,.8);
}
.container .wave span:nth-child(4) {
    /* using the animation shorthand to make look cleaner, name, duration, axis, and times repeated */
    animation: waves 18s linear infinite;
    border-radius: 48%;
    background-color: rgb(103,189,254);
    /* /#4edcf1 */
    /* #c5e3f6; */
    /* background-color: rgba(22, 236, 226, 0.918); */
}
@keyframes waves {
    /* to create the motion, takes the waves instructions created above, first frame - when the animation starts at 0% (from) move the span to the left 50% relative to itself and up 75% relative to itself, and 0 degrees rotation, then the second frame, says once the animation is 100% (to) complete the wave should have rotated 360 degrees */
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
@media (min-width: 800px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .content {
        color: white;
        /* bring the font to the front of the screen otherwise it is hidden behind the spans circles */
        z-index: 1;
        font-size: 5rem;
        
    }
    .content button{
        margin: 3%;
        font-size: 2rem;
        border-style: none;
        align-items: center;
        border: 1px solid white;
        /*make the buttons pop with clear background and white border and font */
        background-color: rgba(4, 26, 66, 0);
    }
}
/*End of Title page Styling*/
/* Game Page Base Styling */
.gameContainer {
    background-color: lavenderblush;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
/* end of game page base style */
/* Info Div styling WILL MAKE IT PRETTY*/
#gameInfo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(87, 219, 153);
    color: rgb(0, 0, 0);
    text-align: center;
    display: none;
    
}
#gameInfo h1, h3{
    color: rgb(160, 39, 39);
}
#infoBox{
    background-color: rgb(112, 245, 245);
    top: 30;
    bottom: 30;
}
#infoBox ul {
    list-style: none;
}
/* End of infoDiv base styling */
/* Winning Div Base Styling */
#winningScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellowgreen;
    text-align: center;
    display: none;
}
/* End of base Winning Div Styling */
/* Losing Div Base Styling */
#losingScreen {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgb(43, 43, 207);
   color:sandybrown;
   text-align: center;
   display: none;
    
}

/* End of Losting Div Base Styling */

/* Levels Modal Styling */

/* add this to media query as does not work on smaller screen */
.close-btn:hover{
    background: pink;
}
#levelsModal{
   position: fixed;
   background-color: rgb(224, 240, 166);
   top: 0;
   left: 0;
   height: 75%;
   width: 75%;
   z-index: 10;
   overflow: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.modal-container{
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
    
}